<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-04-22T16:51:00Z</date>
	<key>WorkspacePath</key>
	<string>/Users/laa/prog/sphere/ads/sem6/Hash Table/Hash Table.xcodeproj</string>
</dict>
</plist>
